Repository arm/neural-graphics-model-gym-examples: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, format, pylint, blocklint

autoflake:
  name: Run autoflake to remove unused imports
  entry: autoflake
  language: system
  require_serial: true

isort:
  name: Run isort to reorder imports
  entry: isort
  language: system
  require_serial: true

format:
  name: Run formatting
  entry: black
  language: python
  require_serial: true

pylint:
  name: Run pylint
  entry: pylint
  language: python
  require_serial: true

blocklint:
  name: Run blocklint non-inclusive language checks
  entry: blocklint
  language: python
  require_serial: true

MLXPK-1892 Update model gym pin in examples requirements
  README.md
  assets/nss/finetune_config.json
  assets/nss/tutorial_config.json
  requirements.txt
  tutorials/nss/model_finetuning_example.ipynb
  tutorials/nss/model_qat_example.ipynb
  tutorials/nss/model_training_example.ipynb
Due: blocklint

MLXPK-1892 Update model gym pin in examples requirements (#8)
  README.md
  assets/nss/finetune_config.json
  assets/nss/tutorial_config.json
  requirements.txt
  tutorials/nss/model_finetuning_example.ipynb
  tutorials/nss/model_qat_example.ipynb
  tutorials/nss/model_training_example.ipynb
Due: blocklint

MLXPK-1834 Add new example for Adding a Custom Model
  .gitignore
  README.md
  assets/nss/custom_model_ex.py
  tutorials/nss/custom_model_example.ipynb
  tutorials/nss/custom_model_example.ipynb.license
Due: autoflake, isort, format, pylint, blocklint

MLXPK-1834 Add new example for Adding a Custom Model (#9)
  .gitignore
  README.md
  assets/nss/custom_model_ex.py
  tutorials/nss/custom_model_example.ipynb
  tutorials/nss/custom_model_example.ipynb.license
Due: autoflake, isort, format, pylint, blocklint

MLXPK-1962 Move existing notebooks out of NSS
  .gitignore
  Makefile
  README.md
  download_resources.py
  setup.sh
  tutorials/assets/custom_model_ex.py
  tutorials/assets/nss/bistro_0099_gt.png
  tutorials/assets/nss/bistro_0099_gt.png.license
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/finetune_config.json.license
  tutorials/assets/nss/tutorial_config.json
  tutorials/assets/nss/tutorial_config.json.license
  tutorials/custom_model_example.ipynb
  tutorials/custom_model_example.ipynb.license
  tutorials/model_evaluation_example.ipynb
  tutorials/model_evaluation_example.ipynb.license
  tutorials/model_finetuning_example.ipynb
  tutorials/model_finetuning_example.ipynb.license
  tutorials/model_qat_example.ipynb
  tutorials/model_qat_example.ipynb.license
  tutorials/model_training_example.ipynb
  tutorials/model_training_example.ipynb.license
  tutorials/nss/model_finetuning_example.ipynb
Due: autoflake, isort, format, pylint, blocklint

MLXPK-1962 Move existing notebooks out of NSS (#10)
  .gitignore
  Makefile
  README.md
  download_resources.py
  setup.sh
  tutorials/assets/custom_model_ex.py
  tutorials/assets/nss/bistro_0099_gt.png
  tutorials/assets/nss/bistro_0099_gt.png.license
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/finetune_config.json.license
  tutorials/assets/nss/tutorial_config.json
  tutorials/assets/nss/tutorial_config.json.license
  tutorials/custom_model_example.ipynb
  tutorials/custom_model_example.ipynb.license
  tutorials/model_evaluation_example.ipynb
  tutorials/model_evaluation_example.ipynb.license
  tutorials/model_finetuning_example.ipynb
  tutorials/model_finetuning_example.ipynb.license
  tutorials/model_qat_example.ipynb
  tutorials/model_qat_example.ipynb.license
  tutorials/model_training_example.ipynb
  tutorials/model_training_example.ipynb.license
  tutorials/nss/model_finetuning_example.ipynb
Due: autoflake, isort, format, pylint, blocklint

Download config.json with models
  download_resources.py
Due: autoflake, isort, format, pylint, blocklint

Download config.json with models (#11)
  download_resources.py
Due: autoflake, isort, format, pylint, blocklint

MLXPK-1983: Update examples to use 0.2.0 release of model gym
  requirements.txt
  tutorials/assets/custom_model_ex.py
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/tutorial_config.json
Due: autoflake, isort, format, pylint, blocklint

MLXPK-1983: Update examples to use 0.2.0 release of model gym (#12)
  requirements.txt
  tutorials/assets/custom_model_ex.py
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/tutorial_config.json
Due: autoflake, isort, format, pylint, blocklint

MLXPK-2078 Update examples repo to use Hatch instead of Make
  Makefile
  README.md
  create_env.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/clean.py
  scripts/download_resources.py
  scripts/run_blocklint.py
  scripts/run_pylint.py
  setup.sh
  tests/run_jupyter_notebook.sh
  tests/setup_notebook_env.sh
  tests/test_jupyter_notebooks.py
  version.py
Due: autoflake, isort, format, pylint, blocklint

MLXPK-2078 Update examples repo to use Hatch instead of Make (#13)
  Makefile
  README.md
  create_env.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/clean.py
  scripts/download_resources.py
  scripts/run_blocklint.py
  scripts/run_pylint.py
  setup.sh
  tests/run_jupyter_notebook.sh
  tests/setup_notebook_env.sh
  tests/test_jupyter_notebooks.py
  version.py
Due: autoflake, isort, format, pylint, blocklint

Update to latest version of Neural Graphics Model Gym
  LICENSE.md
  LICENSES/CC-BY-4.0.txt
  pyproject.toml
  tutorials/assets/nss/bistro_0099_gt.png
  tutorials/assets/nss/bistro_0099_gt.png.license
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/finetune_config.json.license
  tutorials/assets/nss/tutorial_config.json
  tutorials/assets/nss/tutorial_config.json.license
  tutorials/model_evaluation_example.ipynb
  tutorials/model_finetuning_example.ipynb
  tutorials/model_qat_example.ipynb
Due: blocklint

Update to latest version of Neural Graphics Model Gym (#14)
  LICENSE.md
  LICENSES/CC-BY-4.0.txt
  pyproject.toml
  tutorials/assets/nss/bistro_0099_gt.png
  tutorials/assets/nss/bistro_0099_gt.png.license
  tutorials/assets/nss/finetune_config.json
  tutorials/assets/nss/finetune_config.json.license
  tutorials/assets/nss/tutorial_config.json
  tutorials/assets/nss/tutorial_config.json.license
  tutorials/model_evaluation_example.ipynb
  tutorials/model_finetuning_example.ipynb
  tutorials/model_qat_example.ipynb
Due: blocklint

Add badges to README.md
  README.md
Due: blocklint

Add badges to README.md (#15)
  README.md
Due: blocklint

Pin setuptools version
  pyproject.toml
Due: none

Pin setuptools version (#16)
  pyproject.toml
Due: none

Pin virtualenv version used in setup script
  create_env.py
Due: autoflake, isort, format, pylint, blocklint

Pin virtualenv version used in setup script (#17)
  create_env.py
Due: autoflake, isort, format, pylint, blocklint

Remove unnecessary .ipynb.license files
  tutorials/custom_model_example.ipynb.license
  tutorials/model_evaluation_example.ipynb.license
  tutorials/model_finetuning_example.ipynb.license
  tutorials/model_qat_example.ipynb.license
  tutorials/model_training_example.ipynb.license
Due: blocklint

Remove unnecessary .ipynb.license files (#18)
  tutorials/custom_model_example.ipynb.license
  tutorials/model_evaluation_example.ipynb.license
  tutorials/model_finetuning_example.ipynb.license
  tutorials/model_qat_example.ipynb.license
  tutorials/model_training_example.ipynb.license
Due: blocklint

MLMOD-363 Add PyPi badge to README
  README.md
Due: blocklint

Add PyPI badge to README (#19)
  README.md
Due: blocklint

MLMOD-175 [Examples] Add Docker Hub badge to README
  README.md
Due: blocklint

Add Docker Hub badge to README (#20)
  README.md
Due: blocklint

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  format: any of: \.py$
  pylint: any of: \.py$
  blocklint: any file but: ^(\.blocklint|pyproject\.toml)$
